<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Transaction window</title>
</head>
<body>
<h1>
    <span th:text="${name}"></span>
</h1>
<h2>
    <span th:text="'Transaction window:'"></span>
</h2>

<form th:action="@{/doTransaction}" method="post">
    <div><label> From account: <input type="text" name="fromAccount"/> </label></div>
    <div><label> Receiver account: <input type="text" name="toAccount"/> </label></div>
    <div><label> Amount: <input type="text" name="amount"/> </label></div>
    <div><input type="submit" name="action" value="Submit"/></div>
</form>

<h3> <span th:text = "${transactionID}"></span></h3>

<!-- <form th:action="@{/userpage}" method="post">-->
<!-- <input type="submit" value="Back to user page"/>-->
<!--</form> -->
<form action="#" data-th-action="@{/doTransaction}" data-th-object="${model}" method="post">
    <button type="submit" name="action" value="transactionHistory">TrHist</button>
    <button type="submit" name="action" value="userPage">userPage</button>
</form>

</body>
</html>