<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Transaction History</title>
</head>
<body>
<h1>
    <span th:text="'transactions:'"></span>
</h1>

<table th:object="${transactions}" id="transactionTable" border="1">
    <tr th:each="transaction :${transactions}">
        <td  th:text="${transaction.getId()}"></td>
        <td  th:text="${transaction.getFromAccount().getNumber()}"></td>
        <td  th:text="${transaction.getToAccount().getNumber()}"></td>
        <td  th:text="${transaction.getDateTime()}"></td>
        <td  th:text="${transaction.getAmount()}"></td>
    </tr>
</table>


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>


<form action="#" data-th-action="@{/transactionHistory}" data-th-object="${model}" method="post">
    <button type="submit" name="action" value="doTransaction">do transaction</button>
    <button type="submit" name="action" value="userPage">userPage</button>
</form>

</body>
</html>