<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Transaction History</title>
</head>
<body>
<h1>
    <span th:text="transactions:"></span>
</h1>

<table th:object="${transactions}" id="transactionTable" border="1">
    <tr th:each="transaction :${transactions}">
        <td  th:text="${transactions.getId()}"></td>
        <td  th:text="${transactions.getFromAccount()}"></td>
        <td  th:text="${transactions.getToAccount()}"></td>
        <td  th:text="${transactions.getDateTime()}"></td>
        <td  th:text="${transactions.getAmount()}"></td>
    </tr>
</table>


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>


<form th:action="@{/doTransaction}" method="post">
    <input type="submit" value="Do transaction"/>
</form>

<form th:action="@{/userPage}" method="post">
    <input type="submit" value="Back to user page"/>
</form>


</body>
</html>